{% extends 'index.html' %}

{% block content %}

<a href="{% url 'unsettled_groups' %}">Unsettled</a><br />
<a href="{% url 'create_group' %}">Add group</a><br />

{% if groups %}
    <ul>
    {% for group in groups %}
	    <li>
            <a href="{% url 'group_summary' group.id %}">[S]</a>
            <a href="{% url 'edit_group' group.id %}">[E]</a>
            {{ group.name }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No groups are available.</p>
{% endif %}

{% endblock %}
