{% extends 'index.html' %}

{% block head %}
{% load datetime %} 

<script>
let initial_form_data = {{ data|safe }};
</script>

<script src="/static/js/ledger_widgets.js" type="text/javascript"></script>
<script src="/static/js/groups.js" type="text/javascript"></script>
<link href="/static/css/ledger_widgets.css" type="text/css" media="all" rel="stylesheet" />

{% endblock %}

{% block content %}

{% if group_id %}
<a href="{% url 'group_summary' group_id %}">Summary</a>
{% endif %}
<form action="{{ action_url }}">
<table>
{% csrf_token %}
<input name="submit" class="submit" type="submit" value="{% if data %}Save{% else %}Create{% endif %}" />
</form>

{% endblock %}
